.grid_8.prefix_2.suffix_2
  %h1 Zgłoszenie zapisane
  %p
    Został teraz tylko jeden krok. Za chwilę otrzymasz wiadomość email ze specjalnym linkiem, w który musisz kliknąć,
    by potwierdzić zgłoszenie. Bez tego kroku, nie będzie ono trwale zapisane.