<div id='legend'><h2>Czułeś smród?</h2>
<p>
Kliknij w miejscu gdzie go czułeś (jeżeli potrzeba przesuń znacznik i zmień skalę mapy), podaj datę i swój email.
Będziesz musiał potwierdzić zgłoszenie, więc podaj email z którego odbierasz pocztę.
</p>
</div>
<div id="map-canvas"></div>

