<!DOCTYPE html>
<html>
<head>
  <title>Śmierdzi?</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1KA1rMByJDny0VixwGjjFPmk_C5I7TnQ&v=3.exp&sensor=false"></script>
  <%= stylesheet_link_tag "small_map", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container_12'>
<%= yield %>
</div>

</body>
</html>
